
@{
    Layout = null;

}
@using Shop_TTVL.Entities.Data

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <!-- Custom Theme files -->
    <link href="~/Assets/Client/css/bootstrap.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/style.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/fasthover.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/popuo-box.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Assets/Client/css/css.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet"  type="text/css" media="all"/>
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link href="~/Assets/Client/css/jquery.fileupload.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet"  type="text/css" media="all"/>
    <!-- //Custom Theme files -->
    <!-- font-awesome icons -->
    <link href="~/Assets/Client/css/font-awesome.css?ttvl{@DateTime.Now.Millisecond}" rel="stylesheet">
    <!-- //font-awesome icons -->
    <!-- js -->
    <script src="~/Assets/Client/js/jquery.min.js?ttvl{@DateTime.Now.Millisecond}"></script>
    <link rel="stylesheet" href="~/Assets/Client/css/jquery.countdown.css?ttvl{@DateTime.Now.Millisecond}" /> <!-- countdown -->
    <!-- //js -->
    <!-- web fonts -->
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <!-- //web fonts -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
</head>
<body>
<!-- for bootstrap working -->
<script type="text/javascript" src="~/Assets/Client/js/bootstrap-3.1.1.min.js?ttvl{@DateTime.Now.Millisecond}"></script>
<!-- //for bootstrap working -->
<!-- header modal -->
    @{Html.RenderAction("Render","Login");}
<script>
//		$('#myModal88').modal('show');
    
</script>
<!-- header modal -->
<!-- header -->
<div class="header" id="home1">
    <div class="container">
        <div class="w3l_logo">
            <h1>
                <a href="@Url.Action("Index", "Home")">Electronic Store<span>Your stores. Your place.</span></a>
            </h1>
        </div>
    </div>
    <div class="container">
        @{
            if (Session["Customer"] != null)
            {
                <div class="w3l_login">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "HomeClient")"><i class="fa fa-cogs"></i> Manage</a></li>
                        <li><a href="#"><i class="fa fa-group"></i> Profile</a></li>
                        <li><a href="@Url.Action("Logout", "Login")"><i class="fa fa-external-link"></i> Logout</a></li>
                    </ul>
                </div>
                <div class="w3l_username_login" id="w3l_username_login">
                    <p>Xin chào ! @((Session["Customer"] as Customer)?.FullName)</p>
                    <div class="notification">
                        <ul>
                            <li><a href="#"><i class="fa fa-envelope-o"></i></a></li>
                            <li><a href="#"><i class="fa fa-globe"></i></a></li>
                            <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="w3l_login">
                    <a href="#" data-toggle="modal" data-target="#myModal88"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
                </div>
            }
        }
        <div class="search">
            <input class="search_box" type="checkbox" id="search_box">
            <label class="icon-search" for="search_box"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></label>
            <div class="search_form">
                <form action="#" method="post">
                    <input type="text" name="Search" placeholder="Search...">
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- //header -->
<!-- navigation -->
<div class="navigation">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("Index", "Home")" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Mobiles</h6>
                                        <li><a href="@Url.Action("Index", "Products")">Mobile Phones</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Mp3 Players <span>New</span></a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Popular Models</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">All Tablets<span>New</span></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-3">
                                    <ul class="multi-column-dropdown">
                                        <h6>Accessories</h6>
                                        <li><a href="@Url.Action("Index", "Products")">Laptop</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Desktop</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Wearables <span>New</span></a></li>
                                        <li><a href="@Url.Action("Index", "Products")"><i>Summer Store</i></a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-2">
                                    <ul class="multi-column-dropdown">
                                        <h6>Home</h6>
                                        <li><a href="@Url.Action("Index", "Products")">Tv</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Camera</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">AC</a></li>
                                        <li><a href="@Url.Action("Index", "Products")">Grinders</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <div class="w3ls_products_pos">
                                        <h4>30%<i>Off/-</i></h4>
                                        <img src="~/Assets/Client/images/1.jpg" alt=" " class="img-responsive"/>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="about.html">About Us</a></li>
                    <li class="w3pages">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="icons.html">Web Icons</a></li>
                            <li><a href="codes.html">Short Codes</a></li>
                        </ul>
                    </li>
                    <li><a href="mail.html">Mail Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //navigation -->
@RenderBody()
<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-md-3 w3_footer_grid">
                <h3>Contact</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                <ul class="address">
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>1234k Avenue, 4th block, <span>New York City.</span></li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Information</h3>
                <ul class="info">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="mail.html">Contact Us</a></li>
                    <li><a href="codes.html">Short Codes</a></li>
                    <li><a href="faq.html">FAQ's</a></li>
                    <li><a href="products.html">Special Products</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Category</h3>
                <ul class="info">
                    <li><a href="products.html">Mobiles</a></li>
                    <li><a href="products1.html">Laptops</a></li>
                    <li><a href="products.html">Purifiers</a></li>
                    <li><a href="products1.html">Wearables</a></li>
                    <li><a href="products2.html">Kitchen</a></li>
                </ul>
            </div>
            <div class="col-md-3 w3_footer_grid">
                <h3>Profile</h3>
                <ul class="info">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="products.html">Today's Deals</a></li>
                </ul>
                <h4>Follow Us</h4>
                <div class="agileits_social_button">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="twitter"> </a></li>
                        <li><a href="#" class="google"> </a></li>
                        <li><a href="#" class="pinterest"> </a></li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="footer-copy1">
            <div class="footer-copy-pos">
                <a href="#home1" class="scroll"><img src="~/Assets/Client/images/arrow.png" alt=" " class="img-responsive"/></a>
            </div>
        </div>
        <div class="container">
            <p>&copy; 2017 Electronic Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a>
            </p>
        </div>
    </div>
</div>
<!-- //footer -->
<!-- cart-js -->
<script src="~/Assets/Client/js/minicart.js?ttvl{@DateTime.Now.Millisecond}"></script>
<script>
    w3ls.render();

    w3ls.cart.on('w3sb_checkout',
        function(evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
</script>
<div class="cart cart box_1">
    <form action="#" method="post" class="last">
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="display" value="1" />
        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
    </form>
</div>
<!-- //cart-js -->
</body>
</html>
