@model Models.Framework.Category

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Create Category</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Form Create Category
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, new {@class = "col-md-12"})
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Alias, new {@class = "col-md-12"})
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Alias, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Alias, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.ParentID, new {@class = "col-md-12"})
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.ParentID, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.ParentID, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Order, new {@class = "col-md-12"})
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(model => model.Order, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Order, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Status, new {@class = "col-md-12"})
                                    <div class="col-md-12">
                                        @Html.DropDownListFor(model => model.Status, new List<SelectListItem>()
                                        {
                                            new SelectListItem() {Selected = true, Text = "Kích hoạt", Value = "true"},
                                            new SelectListItem() {Selected = true, Text = "Khóa", Value = "false"}
                                        }, new {@class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.Status, "", new {@class = "text-danger"})
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="text-center col-md-6">
                                        <input type="submit" value="Create" class="btn btn-default"/>
                                    </div>
                                    <div class="text-center col-md-6">
                                        @Html.ActionLink("Cancel","Index",null, new { @class= "btn btn-default" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>